<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Node SMS testing</title>
</head>
<body>
    <div class="container">
        <h2>Send SMS message</h2>
        <input type="tel" name="number" id="number" placeholder="Enter phone number ...">
        <input type="text" name="message" id="msg" placeholder="Enter message ...">
        <input type="button"  class="button button-primary" id="button" value="Send Text">
        <p class="response"></p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/main.js"></script>
</body>
</html>